<!-- Navigation Bar -->
<nav class="navbar" id="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a href="../index.html" class="logo-link">
        <h1 class="logo">🧘 MOOD </h1>
      </a>
    </div>
    <ul class="navbar-menu" id="navbarMenu">
      <li><a href="../index.html" class="nav-link">Home</a></li>
      <li><a href="../classes/index.html" class="nav-link">Classes</a></li>
      <li>
        <a href="../profile/index.html" class="nav-link" id="profileLink">Profile</a>
      </li>
      <li>
        <a href="#logout" class="nav-link" id="logoutLink" style="display: none">Logout</a>
      </li>
    </ul>
    <button class="menu-toggle" id="menuToggle">☰</button>
  </div>
</nav>